### docker-compose project name, to avoid typing '-p yourprojectname' at every docker-compose command

COMPOSE_PROJECT_NAME=adastack

###
### git repository configuration, used only when empty app volume is found
### use GIT_PASSWORD or GIT_PASSWORD_FILE to clone a private repo.
###

# GIT_URL: url of the git repo to be cloned. If empty or not set, will clone the default public git repo
# GIT_URL=https://username:${GIT_PASSWORD}@github.com/lynxlab/ada.git

# GIT_PASSWORD does not need a docker secret, and will set the password in the environment
# GIT_PASSWORD=

# GIT_PASSWORD_FILE needs a docker secret to be set up in the app service,
# and must point to the file of the secret inside the container
# GIT_PASSWORD_FILE=/var/run/secrets/gitpass

# GIT_BRANCH is the branch to be checked out after clone. If empty or not set, will use the master branch
# GIT_BRANCH=

### php composer configuration, set to 1 if you wish to run composer
### update on all of the dependencies when restarting the container
COMPOSER_UPDATE_ONRESTART=0

###
### Main application configuration
###

# ADA_OR_WISP tells to the scripts if you're installing ada or wisp. Pls use only 'ada' or 'wisp' as values
ADA_OR_WISP=ada

# MYSQL_ROOT_PASSWORD does not need a docker secret, and will set the password in the environment
MYSQL_ROOT_PASSWORD=

# MYSQL_ROOT_PASSWORD_FILE needs a docker secret to be set up in the app and mariadb services,
# and must point to the file of the secret inside the container
# MYSQL_ROOT_PASSWORD_FILE=/var/run/secrets/mysqlpass

# MYSQL_DATABASE is the ADA or WISP common database name, if you need to change it go to the docker-compose file
# This is here just for reference and to show the default value
# MYSQL_DATABASE=${ADA_OR_WISP}_common

# MYSQL_USER is the ADA or WISP database user name for all the application dbs,
# if you need to change it go to the docker-compose file
# This is here just for reference and to show the default value
# MYSQL_USER=${ADA_OR_WISP}_DBUSER

# MYSQL_PASSWORD is the password for the MYSQL_USER. Setting it in a secret is not supported.
MYSQL_PASSWORD=

# MYSQL_HOST is the hostname that the app service will use to make mysql connections to the mariadb service
MYSQL_HOST=mariadb

# ADA_ADMIN_PASSWORD is the ADA or WISP password for the 'adminAda' predefined user,
# if you need to change it go to the docker-compose file
# This is here just for reference and to show the default value
# ADA_ADMIN_PASSWORD=admin${ADA_OR_WISP}

# MULTIPROVIDER tells ADA or WISP if you are setting up a multipirovider or
# non multipirovider (aka multitenant) installation.
# Use 0 for non multipirovider, 1 for multiprovider (the default)
MULTIPROVIDER=1

# HTTP_ROOT_DIR must point the the URL of your installation
# if non multipirovider, must be the url to access all common static contents: img, js, css etc.
# so if non multipirovider pls set it to something like: http[s]://ada.lynxlab.com:8888
# then the setup will substitute the 3rd level name with the provider name (for each provider)
HTTP_ROOT_DIR=

# PROVIDERS_LIST is a comma separated list of providers that must be created at startup
PROVIDERS_LIST=client0, client1
# PROVIDERS_POINTERS is a comma separated list of providers pointers that will be generated
# NOTE: either it's empty (and the pointers will be set to the name) or they must match by position the PROVIDERS_LIST
PROVIDERS_POINTERS=client0ptr, client1ptr

# DEFAULT_PROVIDER is the default provider
DEFAULT_PROVIDER=client0

# DEFAULT_PROVIDER_DB is the ADA or WISP default provider databse name, if you need to change it go to the docker-compose file
# This is here just for reference and to show the default value
# DEFAULT_PROVIDER_DB=${DEFAULT_PROVIDER}_provider

# MODULES_DISABLE is a comma separated list of modules that you do not want to enable (e.g.: secretquestion,code_man)
MODULES_DISABLE=secretquestion,code_man

# PORTAL_NAME is the page title to be used:
# - if not set, ADA_OR_WISP will be used
# - if multipirovider will be the same for every provider
# - if non ,ultiprovider the provider name in uppercase will be appended to the string
# PORTAL_NAME=Welcome to

# ADA_ADMIN_MAIL_ADDRESS is the application admin email address
ADA_ADMIN_MAIL_ADDRESS=

# ADA_ADMIN_MAIL_ADDRESS is the application noreply email address
ADA_NOREPLY_MAIL_ADDRESS=

# REDIS_URL is the URL to reach the redis server, for storing session data
REDIS_URL=tcp://redis:6379
